{% extends 'base.html.twig' %}
{% block body %}
<div>
    <h1>Hello</h1>
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    {% block content %}{% endblock %}
</div>
{% endblock %}
