{% extends 'base.html.twig' %}
{% block container %}
<div id="examinator" class="alert alert-info text-center">
    {% block examinator %}
    {% endblock %}
</div>
    <div id="user_controls" class="alert alert-dark text-center">
        {% block user_controls %}{% endblock %}
    </div>
{% endblock %}
