{% extends 'exam/exam.html.twig' %}

{% block examinator %}
    <div class="" role="alert">
        <span class="examinator-title">Результаты:</span>
        <div class="row row-cols-2 justify-content-center mt-3">
            <div class="col-auto">
                <ul class="list-group text-start">
                    {% for i, result in results %}
                        <li class="list-group-item"><span>Вопрос #{{ i + 1 }} {{ result.question }}
                            {% if result.isFailed %}
                                <span class="fail">Неудача</span>
                            {% else %}
                                <span class="pass">Пройден</span>
                            {% endif %}
                            </span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <canvas width="640" height="480" id="fireworks-canvas" style="background:#000; border-radius: 10px;"></canvas>
            </div>
        </div>
    </div>
    <style>
        .pass {
            color: green;
        }
        .fail {
            color: red;
        }
    </style>
    <script src="{{ asset('content/js/fireworks.js') }}"></script>
    <script>
        window.onload = function () {
            var firework = JS_FIREWORKS.Fireworks({
                id : 'fireworks-canvas',
                hue : 120,
                particleCount : 50,
                delay : 0,
                minDelay : 20,
                maxDelay : 40,
                boundaries : { // of respawn and target
                    top: 50,
                    bottom: 240,
                    left: 50,
                    right: 590
                },
                fireworkSpeed : 2,
                fireworkAcceleration : 1.05,
                particleFriction : .95,
                particleGravity : 1.5
            });
            firework.start();
        };
    </script>
{% endblock %}
{% block user_controls %}
<div>
    <a href="{{ path('exam_start') }}"><button class="btn btn-dark">Начать заново</button></a>
</div>
{% endblock %}

